.manageH2{
    font-weight: 700;
    font-style:italic;
    letter-spacing: -.03em;
    font-size: 2.4em;
    padding-top: .5em;
    align-items: left;
    }

    .userGoalDiv{
        margin-left:auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        /* You can set flex-wrap and
           flex-direction individually */
        flex-direction: row;
        flex-wrap: wrap;
        /* Or do it all in one line
          with flex flow */
        flex-flow: row wrap;
        /* tweak where items line
           up on the row
           valid values are: flex-start,
           flex-end, space-between,
           space-around, stretch */
        align-content: flex-end;
    }

    .userGoalCol{
        padding-left: 0;
        padding-right:0;
    }

    .userGoalRow{
        margin-left: 0;
        margin-right:0;
    }