.manageH2 {
    font-weight: 700;
    font-style: italic;
    letter-spacing: -.03em;
    font-size: 2.4em;
    padding-top: .5em;
    align-items: left;
    margin-bottom: 0;
}

.userGoalDiv {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: -2em;
    padding: 0em;
    text-indent: -3em;
    text-align: left;
}

.userGoalCol {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.userGoalRow {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}