.task-overlay {
    position: fixed;
    top: 50px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    padding: 20px;
    border-radius: 10px;

    border: 5px solid #d4d600;
    background-color:white;
    color: #0e184b;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4); */
    z-index: 1;
}
