.date-heading {
    width: 100px;
    text-align: center;
}

.date-changer {
    width: 50px;
    text-align: center;
}

.goal-row {
   text-align: left;
}

.date-item {
    text-align: center;
}

.task-complete {
    background-color: green;
    cursor: default;
}

.task-incomplete {
    background-color: lightpink;
    cursor: default;
}