.date-heading {
    text-align: center;
}

.date-changer {
    text-align: center;
}

.goal-row {
   text-align: left;
}

.date-item {
    text-align: center;
}

.task-complete {
    background-color:#d4d600;
    cursor: default;
}

.task-incomplete {
    background-color: #0e184b;
    cursor: default;
}
tr:first-child{
    font-weight:bolder;
   background-color:#fbd900;
}