.user-goal-card {
    /* display: inline-block; */
    vertical-align:top;
    /* flex-direction:row;
    flex-wrap: wrap;
    flex-flow:row wrap; */
    /* align-items:flex-start; */
    width: 245px;
    margin: 15px;
    padding: 10px;
    border: 5px solid #0e184b;
    border-radius: 15px;
    background-color:white;
    color: #0e184b;
    cursor: default;
    text-align:left;
    height: 13em;
}

.user-goal-card-header {
    background-color:white;
    height: 6em;
    color: #0e184b;
}

.user-goal-card-body {
    background-color:white;
    color: #0e184b;
}

