.user-goal-card {
    display: inline-block;
    vertical-align:top;
    width: 280px;
    margin: 15px;
    padding: 10px;
    border: 5px solid #0e184b;
    border-radius: 15px;
    background-color:white;
    color: #0e184b;
    align-content:left;
    text-align: left;
    height: 13em;
    text-align-last: left;
}

.user-goal-card-header {
    background-color:white;
    height: 6em;
    color: #0e184b;
    text-align: left;
    align-content: left;
    padding-left:3em;
    text-align-last: left;
}

.user-goal-card-body {
    background-color:white;
    color: #0e184b;
    align-content: left;
}

.userGoalCardHeader{
    text-align:left;
    align-content: left;
    line-height: 1.1em;
    text-align-last: left;
}

