.user-goal-card {
    display: inline-block;
    vertical-align:top;
    width: 280px;
    margin: 15px;
    padding: 10px;
    border: 5px solid #0e184b;
    border-radius: 15px;
    background-color:white;
    color: #0e184b;
    cursor: default;
    align-content:left;
    height: 13em;
}

.user-goal-card-header {
    background-color:white;
    height: 6em;
    color: #0e184b;
    text-align: left;
    align-content: left;
    padding-left:3em;
}

.user-goal-card-body {
    background-color:white;
    color: #0e184b;
    align-content: left;
}

