.login-popup {
    position: fixed;
    top: 30px;
    left: 50%;
    width: 450px;
    margin-left: -225px;
    padding: 20px;
    border-radius: 10px;

    border: 5px solid #d4d600;
    background-color:white;
    color: #0e184b;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4); */
    /* opacity: 0.9; */
    z-index: 5;
}

.login-message {
    font-size: 10pt;
    color: darkred;
}

a.inline-link {
    color: #f66e5e;
}

a.inline-link:hover {
    color: #0e184b;
    text-decoration: underline;
}

input{
    border: 1px solid black;
}

