.navbar {
    background-color: #0E184B;
    color: white;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: #F66E5E;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.nav-link:hover {
    color: #FBD900;
}

.btn, .navbutton {
    background-color:#d4d600;
    color: #0e184b;
    margin: 3px;
}

.btn-style:hover, .navbutton:hover {
    color: #ffffff;
    text-decoration: underline;
}

.navlogo {
    height: 80px;
}